@font-face {
    font-family: TitleFont;
    src: url("../../assets/fonts/LondrinaSolid-Regular.ttf");
  }

.container {
    cursor: pointer;
    position: relative;
    margin-right: 10px;
}

.title {
    position: absolute;
    margin-top: -40px;
    height: 40px;
    width: 350px;
    padding-left: 20px;
    padding-top: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    color: white;
    font-family: TitleFont;
}

.image {
    border-radius: 20px;
    width: 350px;
    height: 200px;
}

.loader_container {
    width: 350px;
    height: 200px;
    display: flex;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    justify-content: center;
    background: rgba(0, 0, 0, 0.834);
    z-index: 1;
  }
  
  .spinner {
    width: 64px;
    height: 64px;
    margin-top: 10vh;
    border: 8px solid;
    border-color: gray transparent gray transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
  }
  
  @keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }