.projectsContainer {
    display: flex;
    justify-content: center;
}

.navPage {
    font-size: 20px;
}

.navBtn {
    border: 1px solid black;
    border-radius: 50px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 0;
}

.navBtn:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

.navBtn_night {
    border: 1px solid white;
    border-radius: 50px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 0;
    color: white;
}

.navBtn_night:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

.nav_disabled {
    border-color: gray;
    color: gray;
}

.nav_disabled:hover {
    cursor: not-allowed;
    background: transparent;
    color: gray;
}

.list:hover {
    overflow: overlay;
}

.list {
    display: flex;
    width: 100vw - 25px;
    overflow-x: scroll;
    padding-bottom: 10px;
    

}
.list_desktop {
    justify-content: center;
    margin-left: 10px;
}

.project_card_item {
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}

.folder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.folder_item {
    width: 25%;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    background: transparent;
    height: 5px
}

::-webkit-scrollbar-thumb:horizontal {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}