@font-face {
    font-family: TitleFont;
    src: url("../../assets/fonts/LondrinaSolid-Regular.ttf");
  }

  @font-face {
    font-family: PositionFont;
    src: url("../../assets/fonts/LexendTera-Regular.ttf");
  }

  @font-face {
    font-family: DetailsFont;
    src: url("../../assets/fonts/Lato-Regular.ttf");
  }


.container {
    width: 30vw;
    height: 50vh;
    z-index: 1;
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.container_closed {
    display: none;
}

.detail_box_content {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 10px;
    width: 80%;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;  
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;  

}

.detail_box_content_day {
    background-color: #eeeeeeee;
    color: black;
}

.detail_box_content_night {
    background-color: #505050;
    color: white;
}

.navigation_container {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}

.navigation_container_day {
    background-color: #D3D3D3;
}

.navigation_container_night {
    background-color: #7B7B7B;
}

.btn_close {
    background-color: #FF605C;
    border-radius: 10px;
    width: 15px;
    height: 15px;
    margin-top: 7px;
    margin-left: 15px;
}

.btn_close:hover  {
    content: "✖";
    color: gray;
    background-color: #ae3d3c;
    cursor: pointer;
}

.btn_min {
    background-color: #FFBD44;
    border-radius: 10px;
    width: 15px;
    height: 15px;
    margin-top: 7px;
    margin-left: 5px;
    display: none;
}

.btn_max {
    background-color: #00CA4E;
    border-radius: 10px;
    width: 15px;
    height: 15px;
    margin-top: 7px;
    margin-left: 5px;
    display: none;
}

.content_container {
    height: 70vh;
    width: 100%;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;   
}

.content_container_day {
    background-color: #eeeeeeee; 
    color: black;
}

.content_container_night {
    background-color: #505050;
    color: white;
}

.project_container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  overflow: auto;
}

.project_title {
  font-family: HeaderFont;
  color: black;
  font-size: 10vh;
  margin-left: 20px;
  margin-right: 20px;
}
.project_title_night {
  font-family: HeaderFont;
  color: #fff;
  font-size: 10vh;
  margin-left: 20px;
  margin-right: 20px;
}

.project_content {
  font-family: DetailsFont;
  color: black;
  font-size: 3vh;
  margin-left: 20px;
  margin-right: 20px;
}

.project_content_night {
  font-family: DetailsFont;
  color: #fff;
  font-size: 3vh;
  margin-left: 20px;
  margin-right: 20px;
}

.url {
  font-family: DetailsFont;
  color: black;
  font-size: 2vh;
  margin-left: 20px;
  margin-right: 20px;
}

.url_night {
  font-family: DetailsFont;
  color: #fff;
  font-size: 2vh;
  margin-left: 20px;
  margin-right: 20px;
}

.url:hover {
  cursor: pointer;
  color: #fff;
}

.url_night:hover {
  cursor: pointer;
  color: black;
}

.project_image {
  width: 90vh;
  margin-left: 20px;
  margin-right: 20px;
}

.profile_content {
    display: flex;
    padding: 40px;
}


.profile_pic {
    border-radius: 300px;
    width: 50vh;
    margin-top: 30px;
}

.profile_right {
    margin-left: 20px;
    margin-top: 50px;
}

.profile_name {
    font-family: TitleFont;
    font-size: 10vh;
    margin-bottom: 0;
}

.profile_position {
    font-family: PositionFont;
    font-size: 3vh;
}

.profile_details {
  font-family: DetailsFont;
  text-align: justify;
}

.cv_link {
  font-family: DetailsFont;
  text-align: justify;
  text-decoration: underline;
  color: black;
  text-align: center;
}

.cv_link:hover {
  color: white;
}

.cv_link_night {
  color: white;
}

.github {
  width: 8vh;
}

.github:hover {
  cursor: pointer;
}

.contact_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.contact_title {
  font-family: TitleFont;
  font-size: 10vh;
}

.form_input_title {
  font-family: DetailsFont;
}

.form_input {
  width: 100vh;
}

.submit_btn_container {
  display: flex;
  justify-content: center;
}

.contact_submit_btn {
  width: 20vh;
}

.loader_container {
  width: 100%;
  height: 100%;
  display: flex;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  justify-content: center;
  background: rgba(0, 0, 0, 0.834);
  z-index: 1;
}

.spinner {
  width: 64px;
  height: 64px;
  margin-top: 20vh;
  border: 8px solid;
  border-color: gray transparent gray transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1000px) {
    .container {
      overflow: hidden;
    }
    .detail_box_content {
        margin-top: 10px;
        width: 80%;    
        background-color:#eeeeeeee;
    }
    .content_container {
        overflow-y: auto;
        overflow-x: hidden;
        height: 200px;
    }

    .content_overflow {
      height: 400px;
    }

    .content_container::-webkit-scrollbar {
      display: none;
    }
    
    .project_title {
        font-size: 5vh;
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
      }
      .project_title_night {
        font-size: 5vh;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
      }
    
      .project_content {
        font-size: 2vh;
        margin-left: 20px;
        margin-right: 20px;
      }
    
      .project_content_night {
        font-size: 2vh;
        margin-left: 20px;
        margin-right: 20px;
      }

      .url {
        margin-bottom: 40px;
      }

      .url_night {
        margin-bottom: 40px;
      }

      .project_image {
        display: none;
      }

      .profile_content {
        display: inline-block;
        justify-content: center;
        padding: 0;
        text-align: center;
        margin: 0;
    }

    .profile_pic {
      width: 30vh;
    }

    .profile_right {
      margin-right: 20px;
      margin-bottom: 20px;
      margin-top: 10px;
    }

    .profile_name {
      font-size: 5vh;
    }

    .profile_position {
      font-size: 2vh;
    }

    .profile_details {
      font-size: 2vh;
      text-align: center ;
    }

    .content_container_contact {
      height: 400px;
  }

    .contact_title {
      margin-top: 10px;
      font-size: 5vh;
    }
    
    .form_input_title {
      font-family: DetailsFont;
      font-size: 2vh;
    }
    
    .form_input {
      width: 20vh;
    }
}
