@font-face {
    font-family: HeaderFont;
    src: url("../../assets/fonts/LondrinaSolid-Regular.ttf");
  }

  .bg_night {
    height: 40vh;
  }

  .title {
    margin-top: 4vh;
    font-family: HeaderFont;
    color: black;
    font-size: 10vh;
    margin-bottom: 5vh;
  }
  .title_night {
    margin-top: 4vh;
    font-family: HeaderFont;
    color: #fff;
    font-size: 10vh;
    margin-bottom: 5vh;
  }
  .button {
    bottom: 30px;
  }

  .bottom {
    height: 100vh
  }


